html {
  scroll-behavior: smooth;
}

body {
  background-color: #232433 !important;
  font-family: "Poppins", sans-serif !important;
  color: #f5f5f7 !important;
}

#web-title {
  font-weight: 700;
  font-size: 24px;
}

.top {
  font-weight: 400 !important;
  font-size: 50px;
  margin-right: 10px;
  color: #f5f5f7;
}

.top:hover {
  color: #0acf83;
  transform: translateY(-5px);
  transition: 1s;
}

#menu {
  font-weight: 400 !important;
  font-size: 18px;
  color: #f5f5f7;
}

#menu:hover {
  color: #0acf83;
}

.container span {
  color: #0acf83;
}

.vector {
  /* width: 72%; */
  width: 80%;
}

.header {
  margin-top: 64px;
}

#header-text {
  font-size: 24px;
  margin-top: 64px;
}

#header-text h4 {
  font-weight: 700;
  margin-bottom: 16px;
  letter-spacing: 1px;
}

#header-text p {
  font-weight: 300;
  margin-bottom: 32px;
  letter-spacing: 1px;
}

#btn-email-me {
  border-color: #0acf83 !important;
  border-radius: 10px;
}

#btn-email-me:hover {
  background-color: #0acf83;
  color: #232433;
  border-radius: 10px;
}

.social-media a {
  color: #f5f5f7;
}

.social-media a:hover {
  color: #0acf83;
}

.download-cv a {
  color: #f5f5f7;
  font-weight: 300px;
  font-size: 18px;
}

.download-cv a:hover {
  color: #0acf83;
  /* #41c4ff */
  text-decoration: none;
}

.vector {
  position: absolute;
  margin-top: 35px;
  right: 16px;
  width: 90%;
}

#card-skill {
  background-color: #3a3b53 !important;
  padding: 24px 64px 24px 64px;
  border-radius: 10px;
}

#skill-badge img {
  height: 64px;
  width: 64px;
}

#card-illustration {
  background-color: transparent;
}

.project-desc {
  text-align: center;
}

#card-project {
  background-color: transparent;
}

.design-preview {
  border-radius: 10px;
}

.project-preview {
  border-radius: 10px;
}

.project-preview:hover {
  border-radius: 10px;
  filter: opacity(0.6);
  transform: translateY(-10px);
  transition: 0.8s;

}

.view-code {
  color: #f5f5f7;
}

.view-code:hover {
  text-decoration: none;

  color: #0acf83;
}

#card-certificates {
  background-color: #3a3b53;
  border-radius: 10px;
}

#certificate-image {
  width: 95%;
}

.level {
  color: #41c4ff;
  font-weight: 700;
}

.company {
  font-weight: 300;
  font-size: 20px;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
  }

  .certificate .carousel-inner {
    height: 500px;
  }

  .carousel-item h3,
  .carousel-item p {
    text-align: center;
  }

  #certificate-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .carousel-inner {
    padding: 20px;
  }

  #header-text h4,
  #header-text p {
    text-align: center;
  }

  footer {
    margin-top: 100px;
  }
}

/* Desktop version */
@media (min-width: 1280px) {
  .nav-link:hover::after {
    content: "";
    border-bottom: 2px solid #0acf83;
    display: block;
    margin: auto;
    width: 50%;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .certificate .carousel-inner {
    height: 430px !important;
  }

  .carousel-inner {
    padding: 24px;
  }

  .carousel-inner h3 {
    text-align: left;
  }

  footer {
    margin-top: 150px;
  }
}


/* for My School */

.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}

.wrapper .center-line {
  position: absolute;
  height: 100%;
  width: 4px;
  background: #3a3b53;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}

.wrapper .row {
  display: flex;
}

.wrapper .row-1 {
  justify-content: flex-start;
}

.wrapper .row-2 {
  justify-content: flex-end;
}

.wrapper .row section {
  background: #3a3b53;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}

.wrapper .row section::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #3a3b53;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}

.row-1 section::before {
  right: -7px;
}

.row-2 section::before {
  left: -7px;
}

.row section .icon,
.center-line .scroll-icon {
  position: absolute;
  background: #3a3b53;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #0acf83;
  font-size: 17px;
  box-shadow: 0 0 0 4px #3a3b53, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.center-line .scroll-icon {
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}

.row-1 section .icon {
  top: 15px;
  right: -60px;
}

.row-2 section .icon {
  top: 15px;
  left: -60px;
}

.row section .details,
.row section .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row section .details .title {
  font-size: 22px;
  font-weight: 600;
}

.row section p {
  margin: 10px 0 17px 0;
}

.row section .bottom a {
  text-decoration: none;
  background: #0acf83;
  color: rgb(12, 12, 12);
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}

.row section .bottom a:hover {
  transform: scale(0.97);
}

@media(max-width: 790px) {
  .wrapper .center-line {
    left: 40px;
  }

  .wrapper .row {
    margin: 30px 0 3px 60px;
  }

  .wrapper .row section {
    width: 100%;
  }

  .row-1 section::before {
    left: -7px;
  }

  .row-1 section .icon {
    left: -60px;
  }
}

@media(max-width: 440px) {

  .wrapper .center-line,
  .row section::before,
  .row section .icon {
    display: none;
  }

  .wrapper .row {
    margin: 10px 0;
  }
}

/* Profile */
/*-------------------------------------------------------------------------------------
    team area
---------------------------------------------------------------------------------------*/

#team-area {
  padding: 115px 0 100px;
  background-image: url(../images/team-bg-left.png), url(../images/team-bg-right.png);
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
  background-size: contain
}

#team-area.bg-1 {
  background-image: url(../images/team-bg-left-1.png), url(../images/team-bg-right-1.png);
}

.team-img {
  position: relative;
  width: 210px;
  height: 210px;
  border: 4px solid #0acf83;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto
}

.team-img .team-social {
  top: 130px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.team-social {
  position: absolute;
  top: 201px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  -webkit-clip-path: ellipse(50% 95% at 50% 97%);
  clip-path: ellipse(50% 95% at 50% 97%);
  background-image: -webkit-gradient(linear, left top, right top, from(#20007e), to(#e61eb6));
  background-image: linear-gradient(90deg, #20007e 0%, #e61eb6 100%);
}

.team-social.two {
  background-image: linear-gradient(30deg, rgb(157, 91, 254) 0%, rgb(56, 144, 254) 100%);
}

.team-social li {
  display: inline-block;
}

.team-social li a {
  display: block;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  color: #fff;
  margin: 0 2px
}

.team-social li a:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(255, 170, 87)), to(rgb(254, 92, 118)));
  background-image: linear-gradient(0deg, rgb(255, 170, 87) 0%, rgb(254, 92, 118) 100%);
  -webkit-box-shadow: 0px 8px 10px 0px rgba(254, 92, 118, 0.6);
  box-shadow: 0px 8px 10px 0px rgba(154, 92, 118, 0.6);
  border-color: rgb(254, 92, 118)
}

.team-info h3 {
  font-weight: 600;
  margin-top: 20px;
}

.team-info p {
  color: #0acf83;
  text-transform: uppercase
}

/* ----------------- */
/* Navbar */
/* ----------------- */
.cc {
  position: absolute;
}